---
apiVersion: v1
kind: Service
metadata:
  labels:
    instance: {{ minecraft_server_name }}
    game: minecraft
  name: {{ minecraft_server_name }}-minecraft
spec:
  ports:
  - name: web
    port: 25565
    protocol: TCP
    targetPort: 25565
  selector:
    instance: {{ minecraft_server_name }}
    game: minecraft
  type: NodePort
