---

apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    app: minecraft
  name: minecraft
spec:
  host: {{ host | default(None) }}
  port:
    targetPort: web
  to:
    kind: Service
    name: minecraft
